# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development
.env.production
!.env.example

# Uploads & Temp Storage
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# System & OS Files
.DS_Store
Thumbs.db
